---
layout: default
title: Blog
permalink: /blog/
---
<div class="blog">
<p>Here's an <a href="/feed.xml">Atom Feed</a> if you want to subscribe</p>
<ul class="blog-list pinned-list">
  {% for post in site.tags.pinned %}
    <li>
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a><span class="post-date float-right">{{ post.date | date_to_string }}</span>
    </li>
  {% endfor %}
</ul>
<h1>All Posts</h1>
<ul class="blog-list">
  {% for post in site.posts %}
    {% if post.hidden != true %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a><span class="post-date float-right">{{ post.date | date_to_string }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>