
<script>
const GH_API_URL = 'https://api.github.com/repos/BenjaTK/benjatk.github.io/issues/{{ page.comments_id }}/comments?per_page=100?';

let request = new XMLHttpRequest();
request.open( 'GET', GH_API_URL, true );
request.setRequestHeader("Accept", "application/vnd.github.html+json")
request.onload = function() {
	if ( this.status >= 200 && this.status < 400 ) {
		let response = JSON.parse( this.response );

		for ( var i = 0; i < response.length; i++ ) {
			document.getElementById( 'gh-comments-list' ).appendChild( createCommentEl( response[ i ] ) );
		}

		if ( 0 === response.length ) {
			document.getElementById( 'no-comments-found' ).style.display = 'block';
		}
	} else {
        document.getElementById( 'cant-comment' ).style.display = 'block';
        document.getElementById( 'leave-a-comment' ).style.display = 'none';
		console.error( this );
	}
};

function createCommentEl( response ) {
	let user = document.createElement( 'a' );
	user.setAttribute( 'href', response.user.url.replace( 'api.github.com/users', 'github.com' ) );
	user.classList.add( 'user' );

	let userAvatar = document.createElement( 'img' );
	userAvatar.classList.add( 'avatar' );
	userAvatar.setAttribute( 'src', response.user.avatar_url );

	user.appendChild( userAvatar );

	let commentLink = document.createElement( 'a' );
	commentLink.setAttribute( 'href', response.html_url );
	commentLink.classList.add( 'comment-url' );
	commentLink.innerHTML = '#' + response.id + ' - ' + response.created_at;

    let commentAuthor = document.createElement( 'a' )
    commentAuthor.classList.add( 'author' );
    commentAuthor.setAttribute( 'href', response.user.url.replace( 'api.github.com/users', 'github.com' ) )
    commentAuthor.innerText = response.user.login;

    let commentDate = document.createElement( 'div' );
    commentDate.classList.add('comment-date');
    commentDate.innerText = response.created_at.substr(0,10);


	let commentContents = document.createElement( 'div' );
	commentContents.classList.add( 'comment-content' );
	commentContents.innerHTML = response.body_html;

	let comment = document.createElement( 'div' );
    comment.classList.add('comment-box');
	
	comment.setAttribute( 'data-author-avatar', response.user.avatar_url );
	comment.setAttribute( 'data-user-url', response.user.url );

    let commentContainer = document.createElement( 'div' );
    commentContainer.classList.add('comment-container')
    commentContainer.appendChild(user);
	
    comment.appendChild( commentAuthor );
    comment.appendChild( commentDate );
	comment.appendChild( commentContents );
	comment.appendChild( commentLink );
    commentContainer.appendChild(comment);


	return commentContainer;
}
request.send();
</script>

<hr>

<div class="github-comments">
<h2>Comments</h2>
<p id="leave-a-comment">Leave a comment on <a href="https://github.com/BenjaTK/benjatk.github.io/issues/{{ page.comments_id }}">this ticket</a>!</p>
<ul id="gh-comments-list"></ul>
<p id="cant-comment">You can't comment on this post :(</p>
<p id="no-comments-found">No comments found for this post, be the first one to comment!</p>
</div>
