.comment-container {
    display: flex;
    position: relative;
}

.avatar {
    width: 2.5rem;
    border-radius: 2px;
    display: none;
}

.user {
    display: block;
    height: 40px;
    position: absolute;
    left: -55px;
}

.author {
    margin: 0;
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

.author:hover {
    text-decoration:underline;
}

.comment-url{
    line-height: 1px;
    font-size: 0.7rem;
}
 
.comment-content{
   text-decoration: none;
   font-size: calc(var(--font-size) * 0.9);
}

#gh-comments-list {
    list-style: none;
    list-style-type: none;
    padding-left: 0;
}

.comment-box {
    background-color: var(--background-color-gray);
    padding: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    flex: auto;
    border-radius: 4px;
    
}

#no-comments-found, #cant-comment {
    display: none;
}

.comment-date {
    float: right;
}

.comment-indicator path {
    stroke: var(--background-color-gray);
}

.comment-indicator {
    display: none;
}

@media only screen and (min-width: 748px) {
    .comment-indicator {
        display: block;
        position: absolute;
        left: -16px;
        top: 10px;
    }

    .avatar {
        display: block;
    }
  }
  