
body {
    background-color: #fbfffb;
    color: #3f3f44;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 109%;
    text-align: center;
}

.center-block {
    text-align: center;
    display: inline-block;
}

.blog {
    text-align: center;
}

.blog-list {
    max-width: 35rem;
    display: inline-block;
    text-align: left;
}

.post-date {
    color: #565766;
}

.float-right {
    float: right;
    text-align: right;
    display:block;
    clear: both;
    padding-left: 1em;
}


.outlinks a {
    padding: 6px;
}

.outlinks a:hover {
    color: #3f3f44;
    opacity: 1.0;
}


.crisp-edges {
    image-rendering: pixelated;
}

.content {
    padding-top: 4px;
    margin: auto;
}

.post-header {
    padding-top: 32px;
    max-width: 40rem;
    margin-bottom: 0;
}

.post-content {
    transition-duration: 0.1s;
    max-width: 40rem;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.post-content img {

    max-width: 40rem;
    
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 40rem) {
    .post-content img {
        width: 100%;
    }

    .post-content {
        padding: 1rem;
    }
}

h1, h2, h3, h4 {
    font-weight: 400;
    font-family: 'Pixelify Sans', sans-serif;
}

.header {
    text-align: center; 
    padding-top: 42px;
    display: block;
    max-width: 100%;
}

.header img {
    max-width: 100%;
    max-height: 1024px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;

}

.non-current {
    color: #565766;
    opacity: 0.9;
}

a {
    color: #3f3f44;
;
}

a:hover {
    color: #111114;
}