@font-face {
    font-family: "TooKool";
    src: url("../fonts/TooKool 10x.ttf");
}

:root {
    --font-size: 109%;
    --link-font-size: 112%;
    --font-weight: 400;
    --default-font-family: "Lato", sans-serif;
    --special-font-family: 'TooKool', sans-serif;
}

body {
    --background-color: #fbfffb;
    --background-color-gray: #ced3ce;
    --text-color: #3f3f44;
    --text-color-gray: #565766;
    --link-color-hover: #111114;
    --game-thumb-shadow-color: #33334072;
    --blockquote-border-color: #30363d3d;
    --stroke-color: #3f3f44;
    --lightbox-background-color: rgba(0, 2, 7, 0.7);
}

body.dark-mode {
    --background-color: #353535;
    --background-color-gray: #454545;
    --text-color: #dddcdc;
    --text-color-gray: #d4d4d4;
    --link-color-hover: #ffffff;
    --game-thumb-shadow-color: #11111172;
    --blockquote-border-color: #adb2be3d;
    --stroke-color: #f1f1f1;
    --lightbox-background-color: rgba(0, 2, 7, 0.6);
}

body.dark-mode img {
    filter: brightness(.95) contrast(1.05);
}

html {
    background-color: var(--background-color);
}

/* --- General --- */

path {
    stroke: var(--stroke-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 4px;
}

hr {
    color: var(--background-color-gray);
    margin-top: 1rem;
}

div {
    transition-duration: 0.1s;
}

img + em, video + em {
    text-align: center;
    display: block;
    font-size: medium;
}

h1, h2, h3, h4, a {
    font-weight: var(--font-weight);
    font-family: var(--special-font-family);
    word-spacing: -0.2lh;
}

a {
    color: var(--text-color);
    font-size: var(--link-font-size);
}

a:hover {
    color: var(--link-color-hover);
}

blockquote {
    border-left: .25em solid var(--blockquote-border-color);
    margin: 1.5em 10px;
    padding: 0.01em 10px;
    color: var(--text-color-gray);
}


/* --- Utilities/Common Custom Classes --- */

.unimportant {
    opacity: 0.8;
}

.pixel-font {
    font-family: var(--special-font-family);
    font-size: var(--link-font-size);
    word-spacing: -0.2lh;
}

.navigation a {
    padding-right: 6px;
}

.navigation a:hover {
    color: var(--text-color);
    opacity: 1.0;
}

.excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.5lh;
    margin-top: 0;

}

.float-right {
    float: right;
    text-align: right;
    display:block;
    overflow: hidden;
    clear: both;
    padding-left: 1em;
}

.center-block {
    text-align: center;
    display: block;
}

.non-current {
    color: var(--text-color-gray);
    opacity: 0.9;
}

.non-current svg path {
    stroke: var(--text-color-gray);
}

.game-thumb {
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.9;
    box-shadow: 4px 4px 0px var(--game-thumb-shadow-color) !important;
    margin: 0;
    height: 200px;
}

.game-thumb:hover {
    opacity: 1.0;
    transform: translateY(-0.5rem);
    box-shadow: 4px 0.5rem 0px var(--game-thumb-shadow-color) !important;
}

.game-link {
    display: block;
    text-decoration: none;
    margin: 0;
}

.game-link img {
    height: auto;
}

.page-content {
    padding-top: 4px;
    margin: auto;
}

/* --- Home --- */

.game-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    columns: 3;
}

.header {
    text-align: center; 
    padding-top: 42px;
    display: block;
    max-width: 100%;
}

.header svg {
    max-width: 100%;
    max-height: 1024px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;
}


.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-color-gray);
}

.bottom-bar a {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

.homepage-blog-list {
    text-align: left;
    margin: auto;
    padding: 0;
    width: min(35rem, 90%);
    list-style-type: none;
}

#dark-mode-button {
    z-index: 1;
    opacity: 1;
    position: absolute;
    right: 16px;
    transform: translateY(-50%);
    opacity: 0;
    width: 32px;
}

#dark-mode-button:hover {
    cursor: pointer;
}

#dark-mode-button + label {
    position: absolute;
    right: 16px;
    transform: translateY(-50%);
}

.dark-mode-checkbox-icon {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
}

#dark-mode-button:hover + label svg path {
    stroke: var(--link-color-hover);
}

#dark-mode-button:checked + label .sun {
    opacity: 1;
}

#dark-mode-button + label .sun {
    opacity: 0;
}

#dark-mode-button:checked + label .moon {
    opacity: 0;
}

/* --- Blog Page --- */

.blog {
    text-align: center;
}

.blog h1, h2 {
    margin-bottom: 0.05lh;
}

.blog-list {
    width: min(35rem, 90%);
    display: block;
    text-align: left;
    margin: auto;
    padding: 0;
}

.blog-list li {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25em;
}

.blog-list .post-date {
    flex-shrink: 0;
    font-size: small;
}

.pinned-list {
    list-style: none;
    padding-left: 24px;
}

.pinned-list li {
    position: relative;
    text-align: left;
    padding-left: 32px;
}

.pinned-list h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
}

.pinned-list .post-date {
    display: none;
}

.pinned-list li svg {
    position: absolute;
    left: 0;
    margin: 0;
}


.pinned-list li {
    padding-bottom: 0.5rem;
}

/* --- Posts --- */

.back-button {
    padding-top: 1rem;
    display: inline-block;
}

.post {
    max-width: 40rem;
    display: inline-block;
    align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
    transition-duration: 0.1s;
    text-align: justify;
    margin-bottom: 4rem;
}

.post-header {
    margin-bottom: 0;
}

.post-info {
    opacity: 0.75;
    padding: 0;
    margin: 0;
    font-size: small;
}
  
.post-content img, .post-content video {
    max-width: min(40rem, 100%);
    
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-content .game-thumb img {
    width: 100%;
}

.post-content .game-thumb {
    width: min(400px, 100%);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}