:root {
    --background-color: #fbfffb;
    --background-color-gray: #ced3ce;
    --text-color: #3f3f44;
    --text-color-gray: #565766;
    --link-color-hover: #111114;
    --game-thumb-shadow-color: #33334072;
    --default-font-family: "Lato", sans-serif;
    --special-font-family: 'Pixelify Sans', sans-serif;
}

html {
    background-color: var(--background-color);
}

hr {
    color: var(--background-color-gray);
    margin-top: 1rem;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 109%;
    text-align: center;
    margin: 0;
    padding: 0;
}

div {
    transition-duration: 0.1s;
}

img + em, video + em {
    text-align: center;
    display: block;
}

.center-block {
    text-align: center;
    display: block;
}

.blog {
    text-align: center;
}

.blog h1, h2 {
    margin: 0.2lh;
    margin-bottom: 0.05lh;
}

.blog-list {
    max-width: 35rem;
    display: inline-block;
    text-align: left;
    padding-right: 1em;
    padding-top: 0;
    margin-top: 0;
}

.pinned-list {
    list-style: none;
}

.pinned-list h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: underline;
}

.pinned-list .post-date {
    display: none;
}

.pinned-list li::before {
    content: url("/assets/images/icons/pinned.svg");
    display: inline-block;
    width: 32px;
    margin-left: -32px;
    vertical-align: middle;
    height: auto;
    position: absolute;
}

.pinned-list li {
    padding-bottom: 0.5rem;
}


.excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-color-gray);
    opacity: 0.8;
    margin-bottom: 0.5lh;
    text-align: left;
}


.float-right {
    float: right;
    text-align: right;
    display:block;
    clear: both;
    padding-left: 1em;
}


.outlinks a {
    padding: 6px;
}


.outlinks a:hover {
    color: var(--text-color);
    opacity: 1.0;
}

.content {
    padding-top: 4px;
    margin: auto;
}

.back-button {
    padding-top: 1rem;
    display: inline-block;
}

.post {
    max-width: 40rem;
    display: inline-block;
    align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.post-date {
    color: var(--text-color-gray);
}

.post-header {
    margin-bottom: 0;
}

.reading-time {
    color: var(--text-color-gray);
    opacity: 0.75;
    text-align: left;
    padding: 0;
    margin: 0;
}

.post-content {
    transition-duration: 0.1s;
    text-align: justify;
    margin-bottom: 4rem;
}

.post-content img, .post-content video {
    max-width: 40rem;
    width: min(40rem, 100%);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;

}

.game-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    columns: 3;
    
}


.game-thumb {
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    opacity: 0.9;
    box-shadow: 4px 4px 0px var(--game-thumb-shadow-color) !important;
    margin: 0;
    height: 200px;
}

.post-content .game-thumb img {
    width: 100%;
}

.post-content .game-thumb {
    width: min(400px, 100%);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.game-thumb:hover {
    opacity: 1.0;
    transform: translateY(-0.5rem);
    box-shadow: 4px 0.5rem 0px var(--game-thumb-shadow-color) !important;
}


h1, h2, h3, h4, a {
    font-weight: 400;
    font-family: var(--special-font-family);
}

.header {
    text-align: center; 
    padding-top: 42px;
    display: block;
    max-width: 100%;
}

.header img {
    max-width: 100%;
    max-height: 1024px;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;

}

.non-current {
    color: var(--text-color-gray);
    opacity: 0.9;
}

a {
    color: var(--text-color);
;
}

a:hover {
    color: var(--link-color-hover);
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--background-color-gray);
}

.bottom-bar a {
    
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    
}



.game-link {
    display: block;
    text-decoration: none;
    margin: 0;
}

.game-link img {
    height: auto;
}