---
---

<!doctype html>
<html>
  {% seo title=false %}
  <head>
    {% include head.html %}
</head>
  <body>
    <img width="16" decoding="async" src="/assets/images/icons/back.svg" class="crips-edges"><a class="back-button" href="/blog/" >Back</a>
    <br>
    <div class="post">
      <h1 class="post-header center-block">{{ page.title }}</h1>
      <br>
      <p class="post-date center-block">{{ page.date | date_to_string }}</p>
      <p class="excerpt">{{ page.excerpt }}</p>
      <p class="reading-time">{% include reading-time.html %}</p>
      <div class="content post-content">
          {{ content }}
      </div>
    </div>
  </body>
</html>