---
---

<!doctype html>
<html>
  {% seo title=false %}
  <head>
    {% include head.html %}
  </head>
  <body>
    <script src="../assets/js/dark-mode.js"></script>
    <svg width="16" shape-rendering="crispEdges" viewBox="0 -.5 16 16" xmlns="http://www.w3.org/2000/svg">
      <path d="m10 4h2m-4 1h4m-6 1h6m-8 1h8m-10 1h10m-12 1h12m-12 1h12m-10 1h10m-8 1h8m-6 1h6m-4 1h4m-2 1h2"/></svg><a class="back-button" href="/blog/" >Back</a>
    <br>
    <div class="post">
      <h1 class="post-header center-block">{{ page.title }}</h1>
      <br>
      <p class="excerpt unimportant">{{ page.excerpt }}</p>
      <div class="post-info unimportant">
        {{ page.date | date_to_string }} | {% include reading-time.html %}
        <span class="float-right"> {% for tag in page.tags %}{% if tag != "pinned" %} {{ tag }} {% endif %}{% endfor %} </span>
      </div>
      <hr>
      <div class="page-content post-content">
        
          {{ content }}
        </div>
      {% if page.categories.size != 0 %}
      {% for category in page.categories %}
      {% if site.categories[category].size > 1 %}
      
      <h1>More in the <u>{{ category | capitalize }}</u> category.</h1>
      <ul class="blog-list">
        {% for post in site.categories[category] limit: 5 %}
        {% if post.hidden != true and post.url != page.url %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a><span class="post-date float-right">{{ post.date | date_to_string }}</span>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% include comments.html %}
          </ul>
        </div>
  </body>
</html>
