---
---

<!doctype html>
<html>
  {% seo title=false %}
  <head>
    {% include head.html %}
</head>
  <body>
    <img width="16" decoding="async" src="/assets/images/icons/back.svg" class="crips-edges"><a class="back-button" href="/blog/" >Back</a>
    <br>
    <div class="post">
      <h1 class="post-header center-block">{{ page.title }}</h1>
      <br>
      <p class="post-date center-block">{{ page.date | date_to_string }}</p>
      <p class="excerpt">{{ page.excerpt }}</p>
      <p class="reading-time">{% include reading-time.html %}</p>
      <hr>
      <div class="content post-content">
          {{ content }}
          {% if page.categories.size != 0 %}
            {% for category in page.categories %}
              {% if site.categories[category].size > 1 %}
              
                <h1>More in the <u>{{ category | capitalize }}</u> category.</h1>
                <ul class="blog-list">
                {% for post in site.categories[category] limit: 5 %}
                  {% if post.hidden != true and post.url != page.url %}
                    <li>
                      <a href="{{ post.url | relative_url }}">{{ post.title }}</a><span class="post-date float-right">{{ post.date | date_to_string }}</span>
                    </li>
                  {% endif %}
                {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          {% endif %}
      </div>
      </ul>
    </div>
  </body>
</html>